[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
aiohttp = {extras = ["speedups"], version = "*"}
aiomysql = "*"
aioredis = {extras = ["hiredis"], version = "*"}
gunicorn = "*"
phpserialize = "*"
pydantic = "*"
python-multipart = "*"
sentry-sdk = "*"
starlette = "*"
starlette_early_data = "*"
uvicorn = "*"

[dev-packages]
black = "==21.12b0"
coverage = "*"
flake8 = "*"
flake8-quotes = "*"
isort = "*"
mypy = "*"
pytest = "*"
safety = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
